# Ignore CL headers
CL-12
third-party/Boost-for-Android/boost_1_55_0/
third-party/OpenCV*
third-party/opencv*

# JNI objs and output
obj
libs

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
